/* removing default styling */
body {
  background-color: rgb(134, 134, 143);
  height: 1000px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/160/619/original/shinny-gold-stars-animation-on-black-background-free-video.jpg");
}

#cover-pic {
  width: 100%;
  height: 500px;
}


h1 {
  text-align: center;
  color: gold;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  text-decoration: underline double gold;
}

h2 {
  text-align: center;
  color: gold;
  font-family: 'Edu NSW ACT Foundation', cursive;
  text-decoration: underline gold;
  font-size: 50px;
}

h3 {
  color: gold;
  font-size: 40px;
  text-decoration: dotted underline gold;
}

#movie-info {
  margin-top: 2em;
  margin-right: 15em;
  float: right;
  background-color: #20211c;
  height: 920px;
  width: 600px;
  margin-right: 500px
}

#poster {
  width: 100%;
  height: 550px;
  background-color: #20211c;
  margin-bottom: 0.3em;
}

#description {
  margin-top: 5em;
  margin: auto;
  background-color:rgb(255, 169, 56);
  color: black;
  height: 360px;
  font:1.2em/1.6em Verdana, Helvetica, Arial, sans-serif;
  font-weight: 530;
}

#movieDetail:hover {
  box-shadow: 0 8px 16px 0 rgba(256, 256, 256, 0.05); 
  transform: scale(1.02);
  transition: 0.3s;
}

#menu {
  padding-top: 3em;
  padding-left: 1em;
  background-color: rgb(57, 89, 126);
  height: 100%;
  width: 400px;
  float: left;
  margin-left: 1em;
  color: rgb(11, 0, 42);
  margin-right: 30px
}

#list {
  cursor: pointer;
  margin: 1em;
  font-size: 20px;
  border: 1px solid;
  padding: 1em;
  border-radius: 5px;
}

#list:hover {
  transform: scale(1.01);
  background-color: goldenrod;
}

#label {
  margin-right: 1em;
  color: black;
  font-size: 1.1em;
  font-weight: bolder;
}

#title {
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
